<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <link rel="stylesheet" type="text/css" th:href="@{/static/easyui/themes/default/easyui.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/static/easyui/themes/icon.css}">
    <script type="text/javascript" th:src="@{/static/easyui/jquery.min.js}"></script>
    <script type="text/javascript" th:src="@{/static/easyui/jquery.easyui.min.js}"></script>
    <script>
        var url;
        function searchUser(){
            $("#dg").datagrid('load',{
                "name":$("#name").val()
            });
        }

        function addUser(){
            $("#dlg").dialog("open").dialog("setTitle","添加用户信息");
            url="/person/save";
        }

        function userModify(){
            var selectedRows=$("#dg").datagrid("getSelections");
            if(selectedRows.length!=1){
                $.messager.alert("系统提示","请选择一条要编辑的数据！");
                return;
            }
            var row=selectedRows[0];
            $("#dlg").dialog("open").dialog("setTitle","编辑用户信息");
            $("#fm").form("load",row);
            url="/person/save?id="+row.id;
        }

        function saveUser(){
            $("#fm").form("submit",{
                url:url,
                onSubmit:function(){
                    return $(this).form("validate");
                },
                success:function(result){
                    var result=eval('('+result+')');

                    if(result.success){
                        resetValue();
                        $("#dlg").dialog("close");
                        $.messager.alert("系统提示","保存成功!");
                        setTimeout("window.location.reload()",1000);

                    }else{
                        $.messager.alert("系统提示","保存失败！");
                        return;
                    }
                }
            });
        }

        function resetValue(){
            $("#userName").val("");
            $("#pwd").val("");
            $("#trueName").val("");
            $("#email").val("");
            $("#phone").val("");
            $("#post").val("");
            $("#roleId").combobox("setValue")=="";
        }

        function closeUserDialog(){
            $("#dlg").dialog("close");
            resetValue();
        }

        function deleteUser(){
            var selectedRows=$("#dg").datagrid("getSelections");
            if(selectedRows.length==0){
                $.messager.alert("系统提示","请选择要删除的数据！");
                return;
            }
            var strIds=[];
            for(var i=0;i<selectedRows.length;i++){
                strIds.push(selectedRows[i].id);
            }
            var ids=strIds.join(",");
            $.messager.confirm("系统提示","您确定要删除这<font color=red>"+selectedRows.length+"</font>条数据吗？",function(r){
                if(r){
                    $.post("/person/delete",{ids:ids},function(result){
                        //alert(result.success);
                        if(result.success){
                            $.messager.alert("系统提示","数据已成功删除！");
                            setTimeout("window.location.reload()",1000);

                        }else{
                            $.messager.alert("系统提示","数据删除失败，请联系系统管理员！");
                        }
                    },"json");
                }
            });
        }


    </script>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body style="margin: 1px">



<table id="dg" title="用户管理" class="easyui-datagrid"
       fitColumns="true" pagination="true" rownumbers="true"
       url="/person/all" fit="true" toolbar="#tb">
    <thead>
    <tr>
        <th field="cb" checkbox="true" align="center"></th>
        <th field="id" width="50" align="center" hidden="true">编号</th>
        <th field="jobNumber" width="100" align="center">职工号</th>
        <th field="name" width="100" align="center">姓名</th>
        <th field="edu" width="100" align="center">学历</th>
        <th field="major" width="100"  align="center">专业</th>
        <th field="sex" width="100" align="center">性别</th>
        <th field="english" width="100" align="center">英语等级</th>
        <th field="qua" width="100" align="center" >资格等级</th>
        <th field="ability" width="100" align="center" >能力描述</th>
    </tr>
    </thead>
    <tr th:each="item:${personList}">
        <td>2</td>
        <td th:text="${item.id}">2</td>
        <td th:text="${item.jobNumber}">3</td>
        <td th:text="${item.name}">3</td>
        <td th:text="${item.edu}">3</td>
        <td th:text="${item.major}">3</td>
        <td th:text="${item.sex}">3</td>
        <td th:text="${item.english}">3</td>
        <td th:text="${item.qua}">3</td>
        <td th:text="${item.ability}">3</td>
    </tr>

</table>

<div id="tb">
    <div>
        <a href="javascript:addUser()" class="easyui-linkbutton" iconCls="icon-add" plain="true">添加</a>
        <a href="javascript:userModify()" class="easyui-linkbutton" iconCls="icon-edit" plain="true">修改</a>
        <a href="javascript:deleteUser()" class="easyui-linkbutton" iconCls="icon-remove" plain="true">删除</a>
        &nbsp;&nbsp;&nbsp;&nbsp;    用户名：&nbsp;<input type="text" id="s_userName" size="20" onkeydown="if(event.keyCode==13) searchUser()"/>
        <a href="javascript:searchUser()" class="easyui-linkbutton" iconCls="icon-search" plain="true">搜索</a>
    </div>
</div>

<div id="dlg" class="easyui-dialog" style="width: 400px;height: 300px;padding: 10px 20px" closed="true" buttons="#dlg-buttons">
    <form id="fm" method="post">
        <table>
            <tr>
                <td>工号：</td>
                <td><input type="text" id="jobNumber" name="jobNumber" class="easyui-validatebox" required="true"/>&nbsp;<font color="red">*</font></td>
                <td>&nbsp;&nbsp;&nbsp;&nbsp;</td>
            </tr>
            <tr>
                <td>姓名：</td>
                <td><input type="text" id="name" name="name" class="easyui-validatebox" required="true"/>&nbsp;<font color="red">*</font></td>
            </tr>
            <tr>
                <td>学历：</td>
                <td><input type="text" id="edu" name="edu" class="easyui-validatebox"  required="false"/>&nbsp;</td>
            </tr>
            <tr>
                <td>专业：</td>
                <td><input type="text" id="major" name="major" class="easyui-validatebox"  required="false"/>&nbsp;</td>
            </tr>
            <tr>
                <td>性别：</td>
                <td><input type="text" id="sex" name="sex" class="easyui-validatebox" required="false" />&nbsp;</td>
            </tr>
            <tr>
                <td>英语等级：</td>
                <td><input type="text" id="english" name="english" class="easyui-validatebox" required="false"/>&nbsp;</td>
            </tr>
            <tr>
                <td>资质：</td>
                <td><input type="text" id="qua" name="qua" class="easyui-validatebox" required="false"/>&nbsp;</td>
            </tr>
            <tr>
                <td>能力描述：</td>
                <td><input type="text" id="ability" name="ability" class="easyui-validatebox" required="false"/>&nbsp;</td>
            </tr>
        </table>
    </form>

    <div id="dlg-buttons">
        <a href="javascript:saveUser()" class="easyui-linkbutton" iconCls="icon-ok">保存</a>
        <a href="javascript:closeUserDialog()" class="easyui-linkbutton" iconCls="icon-cancel">关闭</a>
    </div>
</div>

</body>
</html>